.cabeçalho{
    font-family: 'Viaoda Libre', cursive;
};

.text-info{
    font-family: 'Kirang Haerang', cursive;
    font-family: 'Viaoda Libre', cursive;
}


.pet{
    max-width: 100%;
    align-items: initial;
}