*{
  background: transparent;
  margin-left: 5px;
  margin-right: 5px;
}


body{
  background-image: linear-gradient(to bottom right, rgb(17, 0, 255), rgb(105, 230, 182));
  background-attachment:fixed;
}

.cardBody{
  background-image: linear-gradient(to bottom, rgb(75, 233, 43), rgb(116, 189, 60), black);  
   background-clip: text;
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: black;
  font-family: 'Kirang Haerang', cursive;
}
.cabeçalho{
    font-family: 'Viaoda Libre', cursive;
    color: black;
  };

.NavBrand{
    color: black;
    };

.col{
  align-items: rigth;
}

.d-flex{
  background-image: linear-gradient(rgb(0, 0, 0), rgb(175, 172, 172));
}

.fotodog {
  width: 626px;
  height: 290px;
}
.imgEsp {
  width: 214px;
  height: 143px;
}

.textoSobre{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: justify;
  color: rgb(43, 61, 41);
}
.texh3{
  text-align: center;
  color: aqua;
}

.Form{
  width: 80%;
}

.App-link {
  
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
